<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial.scale=1.0">
    <title>Cliente</title>

    <link rel="icon" type="image/x-icon" href="img/pet-transportadora.png" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/home.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Detalhe do Cliente</h1>
    <div class="container">
        <div th:each="cliente : ${clienteDetails}">
            <div class="row">
                <div class="col-sm">
                    <p>Nome: <span th:text="${cliente.nome}"></span></p>
                    <p>Rg: <span th:text="${cliente.rg}"></span></p>
                    <p>Email: <span th:text="${cliente.email}"></span></p>
                    <p>Telefone: <span th:text="${cliente.telefone}"></span></p>
                </div>
                <div class="col-sm form-group">
                    <h3>Adicione seu contato de emergência</h3>
                    <form method="post" class="form">
                        <input type="text" name="telefone" placeholder="Adicionar contato emergencial" class="form-control">
                        <br>
                        <button type="submit" class="btn btn-success">Adicionar <i class="fas fa-plus"></i></button>
                    </form>
                </div>
                <div class="form-group col-sm">
                    <form th:action="@{/{rg}(rg = ${cliente.rg})}" method="post"  th:object="${petCliente}">
                        <h3>Adicione o nome de seu Pet</h3>
                        <div class="row">
                            <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome do Pet">
                        </div>
<!--                        <input type="text" th:field="*{raca}" class="form-control" placeholder="Raça">-->
                        <div class="row">
                            <label>Selecione a Raça</label>
                            <select class="form-control" th:field="*{raca}">
                                <option th:each="raca : ${T(com.ifpe.veterinario.Enums.Raca).values()}"
                                th:value="${raca}" th:text="${raca}"></option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Salvar Pet <i class="fas fa-plus"></i></button>
                    </form>

                </div>
                
            </div>
            
        </div>
        <div class="container">
            <div class="header">
                <h1>Pets do Cliente</h1>
            </div>

<!--            <div th:each="pets : ${allPets}">-->
<!--                <p><span th:text="pets.nome"></span></p>-->
<!--                <p><span th:text="pets.raca"></span></p>-->
<!--            </div>-->

        </div>


    </div>
</body>
</html>