<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial.scale=1.0">
    <title>Clinica Anima</title>

    <link rel="icon" type="image/x-icon" href="img/pet-transportadora.png" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/login-form.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="login-form">
    <div class="container">
        <div class="main-div">
            <div class="text-header">
                <h2>Cadastre seu usuário</h2>
                <p>Insira suas credenciais para efetuar cadastro no sistema.</p>
            </div>
            <form method="post" th:object="${usuario}" action="salvarUsuario">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuário">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <div class="cadastro">
                    <a href="/login">Já tem cadastro? clique aqui.</a>
                </div>
            </form>
            <button class="btn btn-primary" type="submit">Login</button>
            <a class="btn btn-back" href="/">Voltar</a>
        </div>

    </div>
</div>

</body>
</html>