<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial.scale=1.0">
    <title>Clinica Anima</title>

    <link rel="icon" type="image/x-icon" href="img/pet-transportadora.png" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/home.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />


</head>
<body>
    <div th:replace="fragmentos/fragmentos :: loggedHome"></div>

    <section class="neo-section">
<!--        <div class="shadow"></div>-->
        <div class="neo-container center">
           <h1>Sistema de Gerenciamento da Anima</h1>

            <div class="row-wm ">
                <button class="btn btn-grey">CRIAR CONSULTA</button>
            </div>
            <div class="row-wm">
                <button class="btn btn-grey"><a th:href="@{cadastro-cliente}">CADASTRAR CLIENTE</a></button>
            </div>
            <div class="row-wm">
                <button class="btn btn-grey"> CADASTRAR PET DE CLIENTE</button>
            </div>
            <div class="row-wm">
                <button class="btn btn-grey"><a th:href="@{cadastro-veterinario}"> CADASTRAR VETERINÁRIO </a></button>
            </div>
        </div>
    </section>

<!--    <div th:replace="fragmentos/fragmentos :: footer"></div>-->
</body>
</html>