<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial.scale=1.0">
    <title>Lista de Veterinários</title>

    <link rel="icon" type="image/x-icon" href="img/pet-transportadora.png" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/home.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
</head>
<body>
    <div th:replace="fragmentos/fragmentos :: loggedHome"></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">veterinario</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="veterinario: ${veterinarios}">
                <td><a th:href="@{/{codigo}(codigo = ${veterinario.id})}"><span th:text="${veterinario.nome}"></span></a></td>
                <td><span th:text="${veterinario.telefone}"></span></td>
                <td><span th:text="${veterinario.email}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>